<ng-container *ngIf="state$ | async as s">
  <div class="mt-5 flex flex-column justify-content-center align-items-center">
    <p-selectButton
      [options]="s.selectBtnOptions"
      [(ngModel)]="s.selectBtnOption"
      optionLabel="label"
      optionValue="value"
    ></p-selectButton>
    <div class="jobs-container mt-5">
      <div class="mb-5 flex justify-content-between">
        <span class="jobs-container-title">My Jobs</span>
        <button
          *ngIf="s.address"
          routerLink="/new"
          pButton
          label="New Job"
        ></button>
      </div>
      <ng-container *ngIf="s.jobs.length; else noJobs">
        <p-table styleClass="job-table" [rowHover]="true" [value]="s.jobs">
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th>Details</th>
              <th>Executions</th>
              <th class="text-right">Total Tx Fees</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-job let-i="rowIndex">
            <tr class="table-row">
              <td>
                {{ i + 1 }}
              </td>
              <td>
                <div>
                  <div class="flex">
                    <div class="text-xl mb-2">
                      <p>{{ job.name }}</p>
                    </div>
                    <div
                      class="status-tag flex align-items-center justify-content-center"
                    >
                      <div class="online"></div>
                      <div>ongoing</div>
                    </div>
                  </div>
                  <span class="job-subtitle"
                    ><p>
                      {{ job.contract }}
                      / {{ job.method }}
                    </p></span
                  >
                </div>
              </td>
              <td class="text-center">0</td>
              <td>
                <div class="text-right">
                  <span class="job-title"
                    ><p>{{ job.paidFees }} GAS</p></span
                  >
                  <span class="job-subtitle"
                    ><p>${{ (3 * job.paidFees).toFixed(2) }}</p></span
                  >
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-container>
      <ng-template #noJobs>
        <div class="flex justify-content-center text-white text-xl">
          You don't have any jobs yet
        </div>
      </ng-template>
    </div>
  </div>
</ng-container>
