
.jobs-container {
  width: 100%;
  max-width: 60rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);

  .jobs-container-title {
    font-size: 20px;
    color: #fff;
    font-weight: 800;
  }
}

::ng-deep .table-row {
  background: transparent !important;
  color: #fff !important;
  font-weight: 700;
  &:hover {
    background: rgba(255, 255, 255, 0.1) !important;
    cursor: pointer;
  }
  .job-subtitle {
    font-weight: 400;
    font-size: 14px;
  }
}

::ng-deep .job-table.p-datatable {
  .p-datatable-header,
  .p-datatable-thead > tr > th {
    background: transparent;
    color: #fff;
    font-weight: 700;
  }
}
