<ng-container *ngIf="state$ | async as s">
  <div class="mt-5 flex flex-column justify-content-center align-items-center">
    <p-selectButton
      [options]="s.selectBtnOptions"
      [(ngModel)]="s.selectBtnOption"
      optionLabel="label"
      optionValue="value"
    ></p-selectButton>
    <div class="jobs-container mt-5">
      <div class="mb-5 flex justify-content-between">
        <span class="jobs-container-title">My Jobs</span>
        <button
          *ngIf="s.address"
          routerLink="/new"
          pButton
          label="New Job"
        ></button>
      </div>
      <p-table styleClass="job-table" [rowHover]="true" [value]="s.jobs">
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Details</th>
            <th class="text-right">Total Tx Fees</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-job let-i="rowIndex">
          <tr class="table-row">
            <td>
              {{ i + 1 }}
            </td>
            <td>
              <div>
                <span class="job-title"
                  ><p>{{ job.id }}</p></span
                >
                <span class="job-subtitle"
                  ><p>
                    Execution:
                    {{ job.contract }}
                    / {{ job.method }}
                  </p></span
                >
              </div>
            </td>
            <td>
              <div class="text-right">
                <span class="job-title"><p>1.28374697 GAS</p></span>
                <span class="job-subtitle"><p>$0.55</p></span>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</ng-container>
