
.jobs-container {
  width: 100%;
  max-width: 60rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);

  .jobs-container-title {
    font-size: 20px;
    color: #fff;
    font-weight: 800;
  }


  .status-tag {
    .online {
      background: #69d878;
      border-radius: 100%;
      height: 4px;
      width: 4px;
      margin-right: 4px;
    }
    background: rgba(0,0,0,.3);
    border-radius: 5px;
    font-size: 12px;
    margin-left: 10px;
    padding: 4px;
    height: fit-content;
  }
}

::ng-deep .table-row {
  background: transparent !important;
  color: #fff !important;
  font-weight: 700;
  &:hover {
    background: rgba(255, 255, 255, 0.1) !important;
    cursor: pointer;
  }
  .job-subtitle {
    font-weight: 400;
    font-size: 14px;
  }
}

::ng-deep .job-table.p-datatable {
  .p-datatable-header,
  .p-datatable-thead > tr > th {
    background: transparent;
    color: #fff;
    font-weight: 700;
  }
}
