<ng-container *ngIf="state$ | async as s">
  <div class="mt-5 flex flex-column justify-content-center align-items-center">
    <div class="job-desc-container">
      <div class="flex align-items-center justify-content-between">
        <div class="flex align-items-center">
          <h2 class="text-white">{{ s.job.name }}</h2>
          <div
            class="status-tag flex align-items-center justify-content-center"
          >
            <div class="online"></div>
            <div class="text-white">ongoing</div>
          </div>
        </div>
        <div><a routerLink="" class="text-white">go back</a></div>
      </div>
      <div class="mt-3 flex">
        <div>
          <span class="text-white text-md">Created by: </span>
          <a
            [href]="'https://neo3.testnet.neotube.io/address/' + s.job.creator"
            class="text-md address"
            >{{ s.job.creator }}</a
          >
        </div>
        <div class="text-white ml-2">
          {{ s.job.createdAt | date: 'medium' }}
        </div>
      </div>
      <div class="flex justify-content-between text-white mt-6">
        <div class="flex flex-column mr-5">
          <div>{{ s.job.executions.length }}</div>
          <div class="font-bold">Executions</div>
        </div>
        <div class="flex flex-column">
          <div>
            {{ s.job.totalFees / 100000000 }} GAS (${{
              (3 * s.job.totalFees) / 100000000 | number: '0.2-2'
            }})
          </div>
          <div class="font-bold">Total tx fees</div>
        </div>
        <div *ngIf="globalState.get('address') === s.job.creator">
          <button
            pButton
            icon="pi pi-pause"
            class="p-button-outlined text-white"
            label="Pause"
          ></button>
        </div>
      </div>
    </div>

    <div class="jobs-container">
      <div class="flex flex-column">
        <div class="mb-5 flex justify-content-between">
          <span class="jobs-container-title">Execute</span>
        </div>
        <div class="grid text-white">
          <div class="col-12 grid">
            <div class="col-3">Contract address:</div>
            <div class="col">
              <a
                [href]="
                  'https://neo3.testnet.neotube.io/contract/' + s.job.contract
                "
                >{{ s.job.contract }}</a
              >
            </div>
          </div>
          <div class="col-12 grid">
            <div class="col-3">Automated method:</div>
            <div class="col">{{ s.job.method }}</div>
          </div>
          <div *ngIf="s.job.args.length" class="col-12 grid">
            <div class="col-3">Parameters:</div>
            <div class="col"></div>
          </div>
          <div
            class="col-12 grid"
            *ngFor="let arg of s.job.args; let i = index"
          >
            <div class="col-3 paramType">{{ s.job.args[i].type }}</div>
            <div class="col">{{ s.job.args[i].value }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="jobs-container">
      <div class="flex flex-column">
        <div class="mb-5 flex justify-content-between">
          <span class="jobs-container-title">When</span>
        </div>
        <div class="grid text-white">
          <div class="col-12 grid">
            <div class="col-3">Interval:</div>
            <div class="col">Every block</div>
          </div>
          <div class="col-12 grid">
            <div class="col-3">Next execution:</div>
            <div class="col">{{ s.job.nextExec | date: 'medium' }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="jobs-container" *ngIf="s.job.executions.length">
      <div class="flex flex-column">
        <div class="mb-5 flex justify-content-between">
          <span class="jobs-container-title">Past Executions</span>
        </div>
        <div class="grid text-white">
          <div
            class="col-12 grid"
            *ngFor="let ex of s.job.executions; let i = index"
          >
            <div class="col-3">#{{ s.job.executions.length - i }}</div>
            <div class="col-4">
              {{ s.job.executions[i] | date: 'medium' }}
            </div>
            <div class="col">
              {{ s.job.paidFees[i] / 100000000 }}
              GAS
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
