<ng-container *ngIf="state$ | async as s">
  <div class="mt-5 flex flex-column justify-content-center align-items-center">
    <h2 class="text-white">New Job</h2>
    <div class="jobs-container mt-5">
      <div class="mb-5 flex flex-column">
        <div class="mb-5 flex justify-content-between">
          <span class="jobs-container-title">Execute</span>
          <a routerLink="/" class="text-white">Cancel</a>
        </div>
        <!-- Contract Address Input -->
        <div class="mb-5">
          <span class="p-fluid">
            <label for="contract-address" class="text-white"
              >Contract address</label
            >
            <span class="p-input-icon-right">
              <i
                [ngClass]="
                  s.isLoadingContractData ? 'pi pi-spin pi-spinner' : ''
                "
              ></i>
              <input
                class="new-job-input"
                id="contract-address"
                type="text"
                pInputText
                placeholder="0x..."
                [(ngModel)]="s.contractAddress"
                (change)="onContractAddressChange$.next(s.contractAddress)"
              />
            </span>
          </span>
          <div
            class="mt-3 text-xs flex align-items-center"
            *ngIf="s.contractMethods.length"
          >
            <i class="pi pi-check-circle text-green-500"></i>
            <span class="text-white ml-1">ABI fetched</span>
          </div>
        </div>

        <!-- Contract Methods Dropdown -->
        <div class="mb-5" *ngIf="s.contractMethods.length">
          <span class="p-fluid">
            <label for="contract-method" class="text-white">Methods</label>
            <p-dropdown
              styleClass="selectMethodDropdown"
              id="contract-method"
              [options]="s.contractMethods"
              [(ngModel)]="s.selectedMethod"
              placeholder="Select a method"
            >
              <ng-template pTemplate="selectedItem">
                <div *ngIf="s.selectedMethod">
                  <div [innerHTML]="s.selectedMethod.displayName"></div>
                </div>
              </ng-template>
              <ng-template let-method pTemplate="item">
                <div>
                  <div [innerHTML]="method.displayName"></div>
                </div>
              </ng-template>
            </p-dropdown>
          </span>
        </div>
        <ng-container *ngIf="s.selectedMethod">
          <div class="mb-2" *ngFor="let param of s.selectedMethod.parameters">
            <span class="p-fluid">
              <label for="method-params" class="text-white">{{
                param.name
              }}</label>
              <input
                class="new-job-input"
                id="method-params"
                type="text"
                pInputText
                [placeholder]="contractParamType[param.type]"
              />
            </span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
