
.jobs-container {
  width: 100%;
  max-width: 60rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 25px;

  .jobs-container-title {
    font-size: 20px;
    color: #fff;
    font-weight: 800;
  }

  .new-job-input {
    margin-top: 10px;
    background-color: rgba(255,255,255,.1);
  }

  ::ng-deep .selectMethodDropdown {
    margin-top: 10px;
    background-color: rgba(255,255,255,.1);
    .paramType {
      color: #4338CA !important;
    }
  }

  ::ng-deep .number-input input{
    background-color: rgba(255,255,255,.1) !important;
  }

  .paramType {
      color: #4338CA !important;
    }

  .error-message {
    color: #f72b2b;
  }

}
