@import '@fontsource/inter';

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  font-family: 'Inter';
  .p-component {
    font-family: 'Inter' !important;
  }
}
